
# Project-specific ignores
data/
dev/
logs/
samples/
wandb/
*.pth
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
airflow_settings.yaml
*.logs
*.bin
ref/
*.json
remarkable_raw_data.txt
.DS_Store
frontend/one-million-particles/
*.ts
*.wav
*.ckpt
output/
.env*
node_modules/
public/
ref/
